.main {
    width: 70vw;
    margin-left: 218px;
    margin-top: 50px;

}

.title {
    color: blue;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin: 36px 450px;




}